extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9        
        h1 Archit Rana        
        p.lead.text-light
          | Full Stack JavaScript Developer.        
        .portfolio-bio
          p
            | I am a computer science graduate and have been in the industry for more than 5 years. Technology has always facinated me and its my passion to use my skills to create products that can enhance our day to day lives.  
            | I am also a full stack JavaScript Developer and a life long learner.            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills        
        ul
          li HTML
          li CSS
          li JavaScript
          li jQuery
          li AJAX
          li Express
          li React
          li SQL
          li MongoDB
          li Rest API
        h6 Contact Info        
        ul
          li 647-625-5512
          li archit2301@gmail.com        
        a.button.expanded(href='https://www.linkedin.com/in/archit-rana-55147767/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/Archit2301/' target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/archit2301' target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  